/* Importing Normalize css */
@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  Custom CSS ---------------------------- */
body {
	font-family: "Open Sans", sans-serif;
	height: 97.5vh;
	background: #f9fbfd;
}
a {
	text-decoration: none;
	margin-left: 8px;
}
.g_search {
	outline: none;
	padding: 5px;
	border: 1px solid #e0e6ed;
	border-radius: 4px;
	width: 200px;
}
.g_search:focus {
	border: 1px solid rgba(181, 181, 181, 0.653);
}
.g_search::placeholder {
	color: #bdbdbd;
}
.header {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
	margin-bottom: 0;
}
.icons {
	margin-right: 30px;
	display: flex;
	align-items: center;
}
.link_icons {
	width: 25px;
	margin: 5px;
}
.link_icons:hover {
	/* border-radius: 50%; */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.heading {
	font-size: 44px;
	color: #1c1c1c;
	line-height: 60px;
	font-weight: 700;
	margin: 30px auto;
}
.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.text_input_title {
	width: 20%;
	height: 30px;
	outline: none;
	font-weight: 300;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	line-height: 34px;
	resize: none;
	padding: 14px 24px;
	border-radius: 2px;
	border: none;
}
.text_input {
	width: 40%;
	height: 30px;
	outline: none;
	font-weight: 300;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	line-height: 34px;
	resize: none;
	padding: 14px 24px;
	border-radius: 2px;
	border: none;
	/* border: 5px dashed #5050f59e; */
	box-shadow: 0 0 2px 2px rgba(167, 195, 245, 0.767);
	/* box-shadow: 0px -7px 17px 1px rgba(0, 0, 0, 0.56); */
}
.search {
	width: 20%;
	height: 30px;
	outline: none;
	font-weight: 300;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	line-height: 34px;
	resize: none;
	padding: 14px 24px;
	border-radius: 2px;
	border: none;
}
/* .text_input:focus {
	background-color: rgba(231, 234, 244, 0.057);
	box-shadow: inset 0px 0px 35px -19px rgba(214, 223, 255, 0.65),
		0 0 4px 4px rgb(218, 218, 218);
} */

.container_2 {
	margin: 30px 30px;
	/* grid-template-columns: repeat(4, 1fr); */
	flex-wrap: wrap;
	display: flex;
	position: relative;
}
.title_styles {
	border-bottom: 1px solid rgba(213, 213, 213, 0.961);
	padding: 6px 0;
	font-size: 1rem;
	color: rgb(43, 43, 43);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
p {
	width: 80%;
}
.copy_button {
	color: #82a4ed;
}
.copy_button:hover {
	color: #0e2f76;
}
.spanX {
	color: #d6d6d6e8;
}
.spanX:hover {
	color: #d9220e;
	cursor: pointer;
}
.content_styles {
	font-size: 14px;
	padding-top: 10px;
	width: 100%;
}

.show_clip {
	/* position: absolute;
	top: ;
  left: auto; */
	transform-origin: top left;
	max-width: 300px;
	border-radius: 3px;
	border: 1px solid rgba(225, 225, 225, 0.5);
	padding: 10px 20px;
	line-height: 20px;
	height: fit-content;
	margin: 0 1rem 1rem 0;
	color: #807e9c;
	font-family: "Raleway", sans-serif;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.show_clip:hover {
	cursor: pointer;
	color: rgb(12, 12, 12);
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.clearAll {
	padding: 10px 20px;
	position: fixed;
	right: 20px;
	top: 50px;
	font-size: 24px;
	font-weight: 600;
	background-color: rgba(232, 67, 48, 0.571);
	color: rgb(248, 248, 248);
	border: none;
	outline: none;
	border-radius: 50%;
}
.clearAll:hover {
	background-color: rgb(242, 60, 60);
}
