/* Importing Normalize css */
@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  Custom CSS ---------------------------- */
body {
	font-family: "Open Sans", sans-serif;
	background-color: #dadada;
	/* background-image: url("../img/img-noise-361x370\ \(1\).png"); */
}

.heading {
	font-size: 44px;
	color: #3c3e3e;
	line-height: 60px;
	font-weight: 700;
	margin: 30px auto;
}
.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.text_input {
	width: 60%;
	height: 40px;
	outline: none;
	font-weight: 300;
	font-size: 18px;
	background: #edededf7;
	line-height: 34px;
	resize: none;
	padding: 8px 22px;
	border-radius: 8px;
	border: none;

	transition: 250ms ease-in;
}
.text_input:focus {
	background: #ffffff;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.11);
}

.container_2 {
	padding: 50px;
	/* display: flex;
	justify-content: flex-start;
	flex-wrap: wrap; */
	max-width: 100%;
	display: grid;
	grid-gap: 1rem;
	grid-template: repeat(7, 3vw) / repeat(8, 1fr);
	grid-column: full-start / full-end;
	grid-row-end: span 2;
}
.title_styles {
	border-bottom: 1px solid rgba(213, 213, 213, 0.961);
	padding: 10px 0;
	font-size: 1.2rem;
	color: rgb(77, 77, 77);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
p {
	width: 80%;
}
.copy_button {
	color: #82a4ed;
}
.copy_button:hover {
	color: #0e2f76;
}
.spanX {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	font-weight: bold;
}
/* .spanX:hover {
	background: #fd5335;
	color: #ffffff;
	cursor: pointer;
} */

.show_clip {
	font-family: monospace;
	position: relative;
	max-width: 150px;
	border-radius: 7px;
	padding: 10px 25px;
	line-height: 20px;
	border-bottom: 2px solid rgba(218, 204, 204, 0.842);
	color: rgba(97, 97, 97, 0.87);
	background-color: rgb(233, 233, 233);
}
.show_clip:hover {
	transition: 0.3s all ease-in-out;
	cursor: pointer;
	color: rgb(12, 12, 12);
	background-color: rgb(255, 255, 255);
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	border-bottom: 2px solid rgb(161, 161, 161);
}
.show_clip:hover + .spanX {
	background: #fd5335;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	right: -7px;
	top: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	font-weight: bold;
}
